body {
    background-color: #f8f6f0 !important;
    color: #3f7a70;

    p, h1,h2,h3,h4,h5,h6, a, li, span {
        color: #3f7a70;
    }
}

.navbar{
    .nav-link {
    position: relative;
    color: #3f7a70;
    font-size: 18px;
    letter-spacing: 0.8px;
    font-weight: 500;
    text-decoration: none !important;

    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0%;
        height: 2px;
        background: #3f7a70;
        transition: width 0.4s cubic-bezier(0.4,0.2,0.2,1);
    }

    &:hover::after {
        width: 100%;
         text-decoration: none !important;
    }
    }
}